.RightButton,
.SearchButton {
    margin-left: 30px;
}
.LeftButton {
    margin-right: 30px;
}
.DownloadButton {
    margin-right: 10px;
}
GtkDropDrown {
    margin: 5px;
}
.LeftButton,
.RightButton,
.DownloadButton,
.SearchButton {
    background-color: #3c3c3c;
    border-radius: 32px;
    width: 32px;
    height: 32px;
    border: 1px solid #282828;
}
.LeftButton:disabled{
  background-color: #ff0000;
  color: #ff0000;
}
.LeftButton:hover,
.LeftButton:focus,
.RightButton:hover,
.RightButton:focus,
.DownloadButton:hover,
.DownloadButton:focus,
.SearchButton:hover,
.SearchButton:focus {
  background-color: rgba(120, 120, 120, 1);
  color: #ffffff;
}
.ImageBox {
    background-color: #3c3c3c;
}
.ImageBox,
.ImageContainer,
.Image {
    padding: 0px;
    margin: 0px;
}
.ImageBox:hover{
    background-color: rgba(120, 120, 120, 1);
}
.ScrollView{
    max-height: 500px;
}
.ImageBox {
    margin-bottom: 10px;
}
